<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Great Job!

        </form>

         <form method="post" action="/add_tweet">
                    <label>title*</label>
            <div>
                <input type="title"  name="title" id="titlestr" required >
            </div>
        </div>
                    <label>texts*</label>
            <div>
                <input type="text"  name="text" id="textstr" required maxlength = "280">
            </div>
        </div>
                </div>
                    <label>img*</label>
            <div>
                <input type="text"  name="img" id="imgstr"/>
            </div>
        </div>

               <div>
            <input type="submit"/>
        </div>
            </form>

    <br>
    
    <a href="/sign_out"><button>signup</button></a>
     <a href="/all_tweets"><button>all tweets</button></a>
</body>
</body>
</html>