<!DOCTYPE html>
<html>
<head>
			  <div class="header">

  <div class="header-right">
    <a class="active" href="/all_tweets">Home</a>
    <a href="/all_tweets/{{current_user}}">own page</a>
    <a href="index.html">About</a>
  </div>
</div>

	<link href="/static/css/style.css" rel="stylesheet">
	<link href="/static/css/head.css" rel="stylesheet">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>

  {%for k in masseges %}
<h3>{{users[k["uid"]]['name']}}</a> </h3>
<h1>{{k['title']}}</h1>
 <hr>

 	{%endfor%}
</body>
</html>
