<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
    <link href="static/css/sign.css" rel="stylesheet"> 
</head>
<body>
    

    <div class="cont">
                <h4 class="sign" align="center">
        signin 
        </h4>
    <form method="post" action="/">
        <!-- Heading -->


        <!-- Subheading -->
        <p align="center">
        Please fill up your information below to sign in.
        </p>


    <input class="un " type="text" align="center" name="username" id="usernamestr" placeholder="Username">
      <input class="un" type="email" align="center" name="email" id="emailStr" placeholder="Email">
      <input class="pass" type="password" align="center" name="password"  placeholder="Password" minlength="6">

        <!-- Button -->
        <div>
            <input type="submit" class="submit" />
        </div>

    </form>
            <br>

<a href="/signup">
<button class="submit">signup</button>
</a> 
</div>
</body>
</html>